<div class="content-container" data-ng-init="showAdmin=false;">
    <!-- CONTENT -->
    <div class="page-content">
        <un-stream-waiting-for-your-answer data-user-map="clientFromChannelMap"></un-stream-waiting-for-your-answer>
        <un-stream-waiting-for-client-answer data-user-map="clientFromChannelMap"></un-stream-waiting-for-client-answer>
        <un-stream-own></un-stream-own>
        <un-stream-open data-channel="{{channel}}"
                        data-user-map="clientFromChannelMap"></un-stream-open>
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="panel-control" >
                    <un-stream-call-audio class="pull-left" data-channel="{{channel}}"
                                          data-user-map="clientFromChannelMap"></un-stream-call-audio>
                    <un-stream-call-video class="pull-left" data-channel="{{channel}}"
                                          data-user-map="clientFromChannelMap"></un-stream-call-video>
                    <div class="pull-left btn-group" dropdown>
                        <a href="#" class="dropdown-toggle btn btn-lg"  data-ng-click="showAdmin=!showAdmin">
                            <i class="fa fa-gear"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <h3 class="panel-title">
                    <un-contact-client-selected></un-contact-client-selected>
                    <un-contact-group-selected></un-contact-group-selected>
                </h3>

            </div>
            <div class="panel-body" data-ng-init="showDebug=false;">

                <ul data-ng-show="showAdmin" class="list-unstyled">
                    <li><un-contact-client-admin></un-contact-client-admin></li>
                    <li><un-contact-group-admin></un-contact-group-admin></li>
                </ul>
                <un-data-chat-message-box data-channel="{{channel}}"
                                          data-user-map="clientFromChannelMap"></un-data-chat-message-box>
            </div>

        </div>
    </div>
    <!-- END OF CONTENT -->

</div>
