<div class="content-container">

  <!-- HEADER -->
  <div class="page-header">
    <h2>Chat</h2>
  </div>
  <!-- END OF HEADER -->

  <!-- CONTENT -->
  <div class="page-content">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">War Machine</h3>
      </div>

      <div class="panel-body">
        <ul class="list-unstyled">
          <li class="mar-btm">
            <div class="media-left">
              <img src="images/thor.png" class="img-circle img-sm" alt="Profile Picture">
            </div>
            <div class="media-body pad-hor">
              <div class="speech">
                <a href="#" class="media-heading">Thor</a>
                <p>Hello War Machine, how can I help you today?</p>
                <p class="speech-time">
                  <i class="fa fa-clock-o fa-fw"></i> 09:23
                </p>
              </div>
            </div>
          </li>
          <li class="mar-btm">
            <div class="media-right">
              <img src="images/war-machine.png" class="img-circle img-sm" alt="Profile Picture">
            </div>
            <div class="media-body pad-hor speech-right">
              <div class="speech">
                <a href="#" class="media-heading">War Machine</a>
                <p>Hi, I want to buy a new weapon.</p>
                <p class="speech-time">
                  <i class="fa fa-clock-o fa-fw"></i> 09:23
                </p>
              </div>
            </div>
          </li>
          <li class="mar-btm">
            <div class="media-left">
              <img src="images/thor.png" class="img-circle img-sm" alt="Profile Picture">
            </div>
            <div class="media-body pad-hor">
              <div class="speech">
                <a href="#" class="media-heading">Thor</a>
                <p>Shipment is free. You'll get your weapon tomorrow!</p>
                <p class="speech-time">
                  <i class="fa fa-clock-o fa-fw"></i> 09:25
                </p>
              </div>
            </div>
          </li>
          <li class="mar-btm">
            <div class="media-right">
              <img src="images/war-machine.png" class="img-circle img-sm" alt="Profile Picture">
            </div>
            <div class="media-body pad-hor speech-right">
              <div class="speech">
                <a href="#" class="media-heading">War Machine</a>
                <p>Wow, that's great!</p>
                <p class="speech-time">
                  <i class="fa fa-clock-o fa-fw"></i> 09:27
                </p>
              </div>
            </div>
          </li>
          <li class="mar-btm">
            <div class="media-right">
              <img src="images/war-machine.png" class="img-circle img-sm" alt="Profile Picture">
            </div>
            <div class="media-body pad-hor speech-right">
              <div class="speech">
                <a href="#" class="media-heading">War Machine</a>
                <p>Ok. Thanks for the answer. Appreciated.</p>
                <p class="speech-time">
                  <i class="fa fa-clock-o fa-fw"></i> 09:28
                </p>
              </div>
            </div>
          </li>
          <li class="mar-btm">
            <div class="media-left">
              <img src="images/thor.png" class="img-circle img-sm" alt="Profile Picture">
            </div>
            <div class="media-body pad-hor">
              <div class="speech">
                <a href="#" class="media-heading">Thor</a>
                <p>You are welcome! <br> Is there anything else I can do for you today?</p>
                <p class="speech-time">
                  <i class="fa fa-clock-o fa-fw"></i> 09:30
                </p>
              </div>
            </div>
          </li>
          <li class="mar-btm">
            <div class="media-right">
              <img src="images/war-machine.png" class="img-circle img-sm" alt="Profile Picture">
            </div>
            <div class="media-body pad-hor speech-right">
              <div class="speech">
                <a href="#" class="media-heading">War Machine</a>
                <p>Nope, That's it.</p>
                <p class="speech-time">
                  <i class="fa fa-clock-o fa-fw"></i> 09:31
                </p>
              </div>
            </div>
          </li>
          <li class="mar-btm">
            <div class="media-left">
              <img src="images/thor.png" class="img-circle img-sm" alt="Profile Picture">
            </div>
            <div class="media-body pad-hor">
              <div class="speech">
                <a href="#" class="media-heading">Thor</a>
                <p>Thank you for contacting us today</p>
                <p class="speech-time">
                  <i class="fa fa-clock-o fa-fw"></i> 09:32
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <!-- END OF CONTENT -->

</div>
