<div class="navbar-container navbar-container-bottom">

  <!-- BRAND LOGO & TEXT -->
  <div class="navbar-footer">
    <form class="navbar-form">
      <div class="form-group">
        <label class="sr-only" for="input-add">Add user or group</label>

        <div class="input-group">
          <input type="text" class="form-control input-sm" id="input-add" placeholder="Enter user name"
                 autocomplete="off">
            <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button>
            </span>
        </div>
      </div>
    </form>
  </div>
  <!-- END OF BRAND LOGO & TEXT -->

  <!-- CONTENT -->
  <div class="navbar-content clearfix">
    <form class="navbar-form">
      <div class="form-group">
        <label class="sr-only" for="input-message">Your message</label>

        <div class="input-group">
          <input type="text" class="form-control input-sm" id="input-message" placeholder="Enter your message"
                 autocomplete="off">
          <span class="input-group-btn">
            <button type="button" class="btn btn-inverse btn-sm"><i class="fa fa-comment"></i></button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <!-- END OF CONTENT -->

</div>
