<div class="navbar-container navbar-container-bottom" >
    <!-- BRAND LOGO & TEXT -->

    <!-- END OF BRAND LOGO & TEXT -->

    <!-- CONTENT -->
    <div class="navbar-content" data-ng-class="{'hidden-xs' : $parent.showSidebar === true}" >
        <div class="row">
            <div class="col-xs-3 col-md-1">
                <un-data-chat-send-file data-channel="{{channel}}"
                                        data-user-map="clientFromChannelMap"></un-data-chat-send-file>
            </div>
            <div class="col-xs-9 col-md-10">
                <un-data-chat-send-box data-channel="{{channel}}"
                                       data-user-map="clientFromChannelMap"></un-data-chat-send-box>
            </div>
        </div>
    </div>
</div>
<!-- END OF CONTENT -->

</div>
