<div class="navbar-container navbar-container-bottom">

  <!-- BRAND LOGO & TEXT -->
  <div class="navbar-footer">
      <un-connection-dialer data-ng-show="selectedContactType.user"></un-connection-dialer>
      <un-contact-group-add data-ng-show="selectedContactType.group"></un-contact-group-add>
  </div>
  <!-- END OF BRAND LOGO & TEXT -->

  <!-- CONTENT -->
  <div class="navbar-content clearfix">
      <un-data-chat-send-box data-channel="{{channel}}"
                             data-user-map="clientFromChannelMap"></un-data-chat-send-box>
  </div>
  <!-- END OF CONTENT -->

</div>
