<div class="sidebar-container">

  <tabset class="sidebar-tabset" justified="true">
    <tab>
      <tab-heading>
        <i class="fa fa-user fa-lg"></i>
        <span class="badge badge-info">7</span>
      </tab-heading>

      <h4 class="pad-hor text-thin"><span class="pull-right badge badge-success">3</span> Online</h4>

      <div class="list-group">
        <a ui-sref="chat" class="list-group-item">
          <span class="media-left">
            <img alt="Profile Picture" src="images/hawkeye.png" class="img-circle img-xs">
          </span>

          <div class="media-body">
            <div class="text-lg">Hawkeye</div>
            <span class="text-muted">Availabe</span>
          </div>
        </a>
        <a ui-sref="chat" class="list-group-item">
          <span class="media-left">
            <img alt="Profile Picture" src="images/hulk.png" class="img-circle img-xs">
          </span>

          <div class="media-body">
            <div class="text-lg">Hulk</div>
            <span class="text-muted">Don't make me angry!</span>
          </div>
        </a>
        <a ui-sref="chat" class="list-group-item">
          <span class="media-left">
            <img alt="Profile Picture" src="images/iron-man.png" class="img-circle img-xs">
          </span>

          <div class="media-body">
            <div class="text-lg">Iron Man</div>
            <span class="text-muted">I am Ironman!</span>
          </div>
        </a>
      </div>

      <hr>
      <h4 class="pad-hor text-thin"><span class="pull-right badge badge-danger">5</span> Offline</h4>

      <div class="list-group">
        <a ui-sref="chat" class="list-group-item">
          <span class="badge badge-primary badge-icon pull-left"></span> Captain America
        </a>
        <a ui-sref="chat" class="list-group-item">
          <span class="badge badge-success badge-icon pull-left"></span> Giant Man
        </a>
        <a ui-sref="chat" class="list-group-item">
          <span class="badge badge-info badge-icon pull-left"></span> Black Widow
        </a>
        <a ui-sref="chat" class="list-group-item">
          <span class="badge badge-warning badge-icon pull-left"></span> Agent Coulson
        </a>
        <a ui-sref="chat" class="list-group-item">
          <span class="badge badge-danger badge-icon pull-left"></span> Hawkeye
        </a>
      </div>

    </tab>
    <tab>
      <tab-heading>
        <i class="fa fa-users fa-lg"></i>
      </tab-heading>

      <h4 class="pad-hor text-thin"><span class="pull-right badge badge-success">2</span> Online</h4>

      <div class="list-group">
        <a ui-sref="chat" class="list-group-item">
          <span class="media-left">
            <img alt="Profile Picture" src="images/loki.png" class="img-circle img-xs">
          </span>

          <div class="media-body">
            <div class="text-lg">Development</div>
            <span class="text-muted">We rule!</span>
          </div>
        </a>
        <a ui-sref="chat" class="list-group-item">
          <span class="media-left">
            <img alt="Profile Picture" src="images/nick-fury.png" class="img-circle img-xs">
          </span>

          <div class="media-body">
            <div class="text-lg">Support</div>
            <span class="text-muted">Can we help?</span>
          </div>
        </a>
      </div>

      <hr>
      <h4 class="pad-hor text-thin"><span class="pull-right badge badge-danger">3</span> Offline</h4>

      <div class="list-group">
        <a ui-sref="chat" class="list-group-item">
          <span class="badge badge-primary badge-icon pull-left"></span> Administration
        </a>
        <a ui-sref="chat" class="list-group-item">
          <span class="badge badge-success badge-icon pull-left"></span> Marketing
        </a>
        <a ui-sref="chat" class="list-group-item">
          <span class="badge badge-info badge-icon pull-left"></span> Sales
        </a>
      </div>

    </tab>
  </tabset>

</div>
