body {
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin button[type="submit"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dialer {
  margin: 20px 0;
}

.call {
  width: 60px;
}

.triangle-right.right:after {
  border-color: rgba(0, 0, 0, 0) #075698;
  border-width: 15px 0 0 40px;
  bottom: auto;
  left: auto;
  right: -40px;
  top: 16px;
}

.triangle-right:after {
  border-color: #075698 rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 20px 0 0 20px;
  bottom: -20px;
  content: "";
  display: block;
  left: 50px;
  position: absolute;
  width: 0;
}

.triangle-right.right {
  background: none repeat scroll 0 0 #075698;
  margin-right: 40px;
}

.triangle-right {
  background: linear-gradient(#2E88C4, #075698) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: #FFFFFF;
  margin: 1em 0 3em;
  padding: 15px;
  position: relative;
}

.triangle-right.left:after {
  border-color: rgba(0, 0, 0, 0) #075698;
  border-width: 15px 40px 0 0;
  bottom: auto;
  left: -40px;
  top: 16px;
}

.triangle-right:after {
  border-color: #075698 rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 20px 0 0 20px;
  bottom: -20px;
  content: "";
  display: block;
  left: 50px;
  position: absolute;
  width: 0;
}

.triangle-right.left {
  background: none repeat scroll 0 0 #075698;
  margin-left: 40px;
}

.triangle-right {
  background: linear-gradient(#2E88C4, #075698) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: #FFFFFF;
  margin: 1em 0 3em;
  padding: 15px;
  position: relative;
}
