body {
    background-color: white;
}

.new-message-box {
    top: 60px;
}
textarea:focus { font-size: 16px!important}
.placeholder-header {
    margin-top: 80px;
}
.stream-video {
    background-color:white;
}
.navbar {
    padding:5px 5px;
}
.icon-bar {
    border-radius: 1px;
    background-color:white;
    display: block;
    height: 2px;
    width: 22px;
}
.navbar-selectet-client-header {
    background-color: #337ab7;
    padding-top: 10px;

}

.back-to-client-list {
    background-color:white;
    border-radius: 100px;
    box-shadow: 0 0 2px #888;
    color: forestgreen;
    display: inline-block;
    margin-left: 10px;

    margin-bottom: 10px;
    margin-right: 20px;
    padding: 5px 20px;
}
.ne-image-wrapper {
    background-color : white;
}
.ne-video-player {
    background-color : white;
}
@media (max-width: 350px) {
    .panel-body {
        overflow-y: scroll;
        height: 265px;
    }
    .selected-client{
        overflow: inherit;
        width: 50px;
    }

}
