<div class="panel panel-default" ng-show="connect.open">
    <div class="panel-heading" data-ng-init="minimize=false">
        <div class="row">
            <div class="col-xs-9">
                <h2 class="panel-title">{{profile.name || connectionIndex}}
                    <i class="badge" data-ng-show="unreadMessageCounter > 0 && minimize === true ">
                    {{unreadMessageCounter}}
                </i></h2>

            </div>
            <div class="col-xs-3 text-right">
                <i data-ng-click="toogleMinimize();" class="glyphicon glyphicon-minus"></i>
                <i data-ng-click="closeConnection()" class="glyphicon glyphicon-remove"></i>
            </div>
        </div>


    </div>
    <div class="panel-body" data-ng-hide="minimize">
        <div ng-repeat="mess in messageList">
            <p class="well" data-ng-class="{'text-left': mess.own === true,'text-right': mess.own === false}">
                {{mess.text}}
            </p>

            <p class="text-muted" data-ng-class="{'text-left': mess.own === true,'text-right': mess.own === false}"
               data-ng-show=" mess.own === false">{{connectionIndex}}</p>
        </div>
    </div>
    <div class="panel-footer" data-ng-hide="minimize">
        <input type="text" data-ng-model="message"
               placeholder="text"
               class="form-control">
        <button data-ng-click="send()" type="button"
                class="btn btn-lg btn-primary btn-block">send
        </button>
    </div>
</div>
