<div class="dashboard" data-ng-controller="unChat" data-ng-init="init()">

    <!-- HEADER -->
    <header class="navbar navbar-fixed-top" data-ui-view="header"></header>
    <!-- END OF HEADER -->

    <!-- SIDEBAR -->
    <aside class="sidebar sidebar-fixed-left" data-ui-view="sidebar"></aside>
    <!-- END OF SIDEBAR -->

    <!-- CONTENT -->
    <div class="content" data-ui-view="content"></div>
    <!-- END OF CONTENT -->

    <!-- FOOTER -->
    <footer class="navbar navbar-fixed-bottom" data-ui-view="footer"></footer>
    <!-- END OF FOOTER -->

</div>
