<div>
    <div class="btn-group" dropdown >
       <button type="button" class="btn btn-primary dropdown-toggle"
               dropdown-toggle >
          user<span class="caret"></span>
       </button>
      <ul class="dropdown-menu">
          <li ng-repeat="(peerId,connection) in clientList">
              <a data-ng-click="selectClient(peerId)" >{{connection.label}}</a>
          </li>
      </ul>
    </div>

    <div class="btn-group" dropdown >
        <button type="button" class="btn btn-primary dropdown-toggle"
                dropdown-toggle >
            groups<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="(groupId,group) in groupList">
                <a data-ng-click="selectRoom(groupId)">{{group.label}}</a>
            </li>
        </ul>
    </div>

</div>