<div data-ng-init="init();bookShow = 'user'">

    <div>
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{'active' : bookShow === 'user'}">
                    <a data-ng-click="bookShow='user'">User</a>
                </li>
                <li role="presentation" ng-class="{'active' : bookShow === 'group'}">
                    <a data-ng-click="bookShow='group'">groups</a>
                </li>
                <li role="presentation" ng-class="{'active' : bookShow === 'group'}">
                    <dialer></dialer>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane " ng-class="{'active' : bookShow === 'user'}">
                <div ng-repeat="(peerId,connection) in clientList">
                    {{getUserName(peerId)}}
                    <i class="glyphicon glyphicon-trash" data-ng-click="removeClient(peerId)"></i>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane " ng-class="{'active' : bookShow === 'group'}">
                <br><input type="text" data-ng-model="newGroupName" placeholder="create new group">
                <span class="glyphicon glyphicon-ok" ng-click="createGroup()"></span>
                <br>

                <h3>own Groups</h3>
                <hr>
                <div ng-repeat="(groupId,group) in groupMap">

                    <div ng-if="group.editable === true">
                        <span  ng-dropdown-multiselect=""
                              extra-settings="{showCheckAll:false,showUncheckAll : false}"
                              options="clientMap"
                              translation-texts="{buttonDefaultText: group.label,dynamicButtonTextSuffix: 'users in'+ group.label}"
                              selected-model="group.users"></span>
                        <i class=" glyphicon glyphicon-trash"
                           data-ng-click="removeGroup(groupId)"></i>
                    </div>
                </div>
                <br>

                <h3>enter Groups</h3>
                <hr>
                <div ng-repeat="(groupId,group) in groupMap">
                    <div ng-if="group.editable === false">
                        {{group.label}}
                        <i class=" glyphicon glyphicon-trash" data-ng-click="removeGroup(groupId)"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-click="showUser=!showUser"></i>

                        <div ng-show="showUser">
                            <ul>
                                <li ng-repeat="user in group.users">
                                    {{getUserName(user.id)}}

                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

