<div data-ng-init="init();" >
   <h3>User Profile</h3>
   <hr>
   Name:
   <span data-ng-show="showName === false" data-ng-click="showName = true">
      {{profile.label || 'add name'}} <br>
   </span>
   <span data-ng-show="showName === true"  >
      <input data-ng-model="profile.label" data-ng-click="showName = true" placeholder="add name">
      <i class="glyphicon glyphicon-ok" data-ng-click="update();"></i>
      <i class="glyphicon glyphicon-remove" data-ng-click="init();"></i>
   </span>
   <br>
   PeerId: <b>{{peerId}}</b>


</div>
