<div class="panel panel-default" data-ng-init="init()">
  <div class="panel-body">
    <div ng-repeat="mess in messageList">
      <p class=""
         data-ng-class="{'text-left': mess.own === true,'text-right': mess.own === false}">
            <span data-ng-show="mess.roomName">
                    {{mess.roomName}}:
            </span>
        {{mess.own ? 'XX' + getProfileName(): getUserName(mess.user)}}
      </p>

      <p class="triangle-right" data-ng-class="{'left': mess.own === true,'right': mess.own === false}">
        {{mess.text}}
      </p>
    </div>
  </div>
  <div class="panel-footer" data-ng-show="isRoomSelected">
    <input type="text" data-ng-model="message"
           placeholder="text"
           class="form-control">
    <button data-ng-click="send()" type="button"
            class="btn btn-lg btn-primary btn-block">send
    </button>
  </div>
</div>
