<div class="col-xs-12 col-sm-9">
    <div class="jumbotron">
      <actice-user></actice-user>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h2>Video/Audio</h2>
            <!-- Add your site or application content here -->
            <stream></stream>
        </div><!--/.col-xs-6.col-lg-4-->
    </div><!--/row-->
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h2>Chat</h2>
            <!-- Add your site or application content here -->
            <text-message-list></text-message-list>
        </div><!--/.col-xs-6.col-lg-4-->
    </div><!--/row-->

</div><!--/.col-xs-12.col-sm-9-->