<nav class="navbar navbar-fixed-top navbar-inverse"
     data-ng-class="{'hidden-xs' : (stateName !== 'contact' && stateName !== 'profileAdmin')}">

    <div class="row">
        <div class="col-xs-2 visible-xs-block" style="padding-right:20px;padding-top:10px;"
             data-ng-show="stateName === 'profileAdmin'">
            <a ui-sref="contact"><i class="fa fa-chevron-left fa-2x"></i></a>
        </div>
        <div class="col-sm-2 col-sm-offset-1 hidden-xs">
            <div class="navbar-brand small">unchatbar</div>
        </div>
        <div class="col-xs-6 col-sm-5 col-xs-offset-1">
            <un-data-chat-unread-message data-user-map="clientMap"></un-data-chat-unread-message>
        </div>
        <div class="col-xs-3 col-sm-3">
            <a ui-sref-active="active" ui-sref='profileAdmin'>
                <un-profile-label></un-profile-label>
            </a>
        </div>
    </div>

</nav>