<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container" data-ng-init="isCollapse=false">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-ng-click="isCollapse=!isCollapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <profile></profile>
        </div>
        <div id="navbar" class="collapse navbar-collapse" data-ng-class="{'in' : isCollapse}">
            <ul class="nav navbar-nav">
                <li><a ui-sref-active="active" ui-sref='chat.profile'>Profile</a></li>

            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->