<div data-ui-view="header"></div>
<div class="row">
    <div class="col-xs-12">
        <un-stream-own></un-stream-own>
    </div>
</div>
<div class="row">

    <div class="col-xs-9" style="margin-left:20px;">
        <un-stream-waiting-for-your-answer data-user-map="clientMap"></un-stream-waiting-for-your-answer>
        <un-stream-waiting-for-client-answer data-user-map="clientMap"></un-stream-waiting-for-client-answer>
        <un-stream-open data-channel="{{channel}}"
                        data-user-map="clientMap"></un-stream-open>
    </div>
</div>
<div class="row contacts">
    <div data-ui-view="sidebar"></div>
    <div data-ui-view="content"></div>
</div>
<div data-ui-view="footer"></div>