<div class="col-xs-12 col-sm-9">
    <div>
        <div class="pull-left">
            <div class="text-center">
                <un-contact-group-selected></un-contact-group-selected>
                <un-contact-client-selected></un-contact-client-selected>
            </div>
        </div>
        <div class="pull-right">
            <un-stream-call data-channel="{{channel}}"
                            data-user-map="clientFromChannelMap"></un-stream-call>
        </div>
        <div class="clearfix"></div>
        <br>

        <div data-ng-controller="unChat" data-ng-init="init()">
            <un-data-chat-message-box data-channel="{{channel}}"
                                      data-user-map="clientFromChannelMap"></un-data-chat-message-box>
        </div>
    </div>

</div>
