<div class="col-xs-12 col-sm-9">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <un-contact-group-selected></un-contact-group-selected>
                <un-contact-client-selected></un-contact-client-selected>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <un-data-chat-message-box data-channel="{{channel}}"
                                      data-user-map="clientFromChannelMap"></un-data-chat-message-box>
        </div>
    </div>
    <div class="row">
    <!--<div class="col-xs-6">
        <div class="text-center">
            <un-contact-group-selected></un-contact-group-selected>
            <un-contact-client-selected></un-contact-client-selected>

        </div>
    </div>-->
    <div class="col-xs-6 col-xs-offset-3">
        <un-stream-call data-channel="{{channel}}"
                        data-user-map="clientFromChannelMap"></un-stream-call>
    </div>
</div>
</div>
