<div class="col-xs-12 col-sm-9">
    <div class="navbar-selectet-client-header">
        <div class="pull-left visible-xs-block" style="padding-right:20px;padding-top:10px;">
            <a ui-sref="contact"><i class="fa fa-chevron-left fa-2x"></i></a>
        </div>
        <div class="pull-left">
            <div class="text-center selected-client">
                <un-contact-group-selected></un-contact-group-selected>
                <un-contact-client-selected></un-contact-client-selected>

            </div>
        </div>
        <div class="pull-right text-right">
            <un-stream-call data-channel="{{channel}}"
                            data-user-map="clientFromChannelMap"></un-stream-call>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <un-data-chat-message-box data-channel="{{channel}}"
                                      data-user-map="clientFromChannelMap"></un-data-chat-message-box>
        </div>
    </div>
</div>
