/* PADDINGS */

.pad-no {
  padding: 0
}

.pad-all {
  padding: 15px
}

.pad-top {
  padding-top: 15px
}

.pad-btm {
  padding-bottom: 15px
}

.pad-lft {
  padding-left: 15px
}

.pad-rgt {
  padding-right: 15px
}

.pad-hor {
  padding-left: 15px;
  padding-right: 15px
}

.pad-ver {
  padding-top: 15px;
  padding-bottom: 15px
}

/* CONTAINER */

.popover-content {
  padding: 9px 14px;
}

textarea:focus {
  font-size: 16px !important
}

input:focus {
  font-size: 16px !important
}
