html,
body {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-weight: 300;
}
