
.sidebar-container {
  box-shadow: 2px 0 0 -1px rgba(0, 0, 0, .1);
  background-color: #3d444d;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden
}

.sidebar-tabset {
  position: absolute;
  top: 0;
  right: -15px;
  bottom: -15px;
  left: 0;
  overflow: scroll;
  color: #fff
}

.sidebar-tabset .nav-tabs > li > a,
.sidebar-tabset .nav-tabs > li > a:hover,
.sidebar-tabset .nav-tabs > li > a:focus {
  border: 0;
  border-radius: 0;
  padding: 15px 0;
  background-color: #2e3033;
  color: #aaadb3
}

.sidebar-tabset .nav-tabs > li.active > a,
.sidebar-tabset .nav-tabs > li.active > a:hover,
.sidebar-tabset .nav-tabs > li.active > a:focus {
  border: 0;
  background-color: #3d444d;
  color: #fff
}

.sidebar-tabset .tab-content {
  padding: 10px 0
}

.sidebar-tabset .list-group .list-group-item:not(.active):not(.disabled) {
  background-color: transparent;
  border-color: transparent;
  color: inherit
}

.sidebar-tabset .list-group a.list-group-item:hover:not(.active) {
  background-color: rgba(0, 0, 0, .1);
  -webkit-transition: all .3s;
  transition: all .3s
}

.sidebar-tabset .list-group .list-group-item.disabled {
  opacity: .5
}

.sidebar-container {
  width: 250px;
}

.contact-box {
  bottom: 50px;
  overflow-y: scroll;
  position: fixed;
  top: 118px;
  width: 250px;
}

.connect-contact {
  position: fixed;
  bottom: 0px;
  width: 250px;
}

@media (max-width: $screen-xs-max) {
  .sidebar-container {
    width: 100%;
  }
  .sidebar {
    width:100%;
  }
  .contact-box {
    width: 100%;
  }
  .connect-contact {
    width: 100%;
  }
}
