.text-thin {
  font-weight: 300
}

.text-normal {
  font-weight: 400
}

.text-semibold {
  font-weight: 500
}

.text-bold {
  font-weight: 700
}

.text-lg,
.text-sm,
.text-xs {
  line-height: 1.25
}

.text-lg {
  font-size: 1.2em
}

.text-sm {
  font-size: .9em
}

.text-xs {
  font-size: .8em
}
