/* Sidebar
========================================================================== */
$sidebar-bg-dark: #2e3033; // 220 10 20
$sidebar-bg-light: #3d424d; // 220 20 30
$sidebar-text-color: #fff;
$sidebar-link-color: #aaadb3; // 220 5 70

/* Speech
========================================================================== */
$speech-left-bg: #dae2f2; // 220 10 95
$speech-right-bg: #daeaf2; // 200 10 95
