.content-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden
}

.content .page-header {
  margin: 30px 0 20px;
  border-bottom-color: #ccc
}

.panel-heading {
  padding: 0;
  height: 60px;
  position: fixed;
  z-index: 1035;
  right: 0px;
  left: 251px;
}

.panel-control:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  left: -1em;
  position: relative;
}

.panel-control {
  position: relative;
  float: right;
  padding: 0 15px;
  height: 100%
}

.panel-control .btn.active,
.panel-control .btn:active,
.panel-control .btn.focus,
.panel-control .btn:focus,
.panel-control .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-title {
  padding: 0 15px;
  line-height: 60px
}

.page-content .media-left {
  float: left
}

.page-content .media-right {
  float: right
}

.speech {
  position: relative;
  background: #dae4f2;
  color: #444;
  display: inline-block;
  border-radius: 2px;
  padding: 12px 20px
}

.speech .media-heading {
  font-size: 1.2em;
  color: #333;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 300
}

.speech .media-heading:hover {
  // text-decoration: underline
}

.speech-time {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: .8em;
  font-weight: 300
}

.speech-right {
  text-align: right
}

.speech-right > .speech {
  background: #c6daf7;
  text-align: right
}

.speech:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #dae4f2;
  margin: 15px 0 0 -6px
}

.speech-right > .speech:before {
  left: auto;
  right: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #c6daf7;
  border-right: 0;
  margin: 15px -6px 0 0
}

.chat-content {
  bottom: 75px;
  overflow-y: scroll;
  position: fixed;
  top: 111px;
  right: 0px;
  left: 251px;

}

@media (max-width: $screen-xs-max) {
  .panel-heading {
    left:0px;
  }
  .chat-content {
    left:0px;
  }
}