html,
body {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important
}

body {
  background-color: #e6eaf2;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #404040
}

a {
  color: #444;
  text-decoration: none;
  outline: 0
}

a:focus,
a:hover {
  color: #333;
  text-decoration: none;
  outline: 0 !important
}

button,
button:focus {
  outline: 0 !important
}

label {
  font-weight: 400
}

hr {
  border-color: rgba(0, 0, 0, .15);
}


/* MARGINS */

.mar-no {
  margin: 0 !important
}

.mar-all {
  margin: 15px
}

.mar-top {
  margin-top: 15px
}

.mar-btm {
  margin-bottom: 15px
}

.mar-lft {
  margin-left: 15px
}

.mar-rgt {
  margin-right: 15px
}

.mar-hor {
  margin-left: 15px;
  margin-right: 15px
}

.mar-ver {
  margin-top: 15px;
  margin-bottom: 15px
}


/* PADDINGS */

.pad-no {
  padding: 0
}

.pad-all {
  padding: 15px
}

.pad-top {
  padding-top: 15px
}

.pad-btm {
  padding-bottom: 15px
}

.pad-lft {
  padding-left: 15px
}

.pad-rgt {
  padding-right: 15px
}

.pad-hor {
  padding-left: 15px;
  padding-right: 15px
}

.pad-ver {
  padding-top: 15px;
  padding-bottom: 15px
}


/* BORDERS */

.bord-no {
  border: 0 !important
}

.bord-all {
  border: 1px solid #e9e9e9
}

.bord-top {
  border-top: 1px solid #e9e9e9
}

.bord-btm {
  border-bottom: 1px solid #e9e9e9
}

.bord-lft {
  border-left: 1px solid #e9e9e9
}

.bord-rgt {
  border-right: 1px solid #e9e9e9
}

.bord-ver {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9
}

.bord-hor {
  border-right: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9
}


/* TEXTS */

.text-thin {
  font-weight: 300
}

.text-normal {
  font-weight: 400
}

.text-semibold {
  font-weight: 500
}

.text-bold {
  font-weight: 700
}

.text-lg,
.text-sm,
.text-xs {
  line-height: 1.25
}

.text-lg {
  font-size: 1.2em
}

.text-sm {
  font-size: .9em
}

.text-xs {
  font-size: .8em
}


/* BADGES */

.badge-default {
  background-color: #e3e8ee;
  color: #333
}

.badge-inverse {
  background-color: #3b3e46
}

.badge-primary {
  background-color: #458fd2
}

.badge-success {
  background-color: #8cc152
}

.badge-info {
  background-color: #3bb5e8
}

.badge-warning {
  background-color: #feab34
}

.badge-danger {
  background-color: #e9573f
}

.badge:empty.badge-icon {
  display: inline-block;
  width: .7em;
  height: .7em;
  padding: 0;
  min-width: 5px;
  margin: .3em .9em .3em .3em;
  border-radius: 50%
}


/* IMAGES */

.img-xs {
  width: 32px;
  height: 32px
}

.img-md {
  width: 64px;
  height: 64px
}

.img-sm {
  width: 46px;
  height: 46px
}

.img-lg {
  width: 128px;
  height: 128px
}


/* BUTTONS */

.btn-default {
  background-color: #fff;
  border-color: #c3cedb;
  color: #444
}

.btn-default.active,
.btn-default:active,
.btn-default.focus,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
  background-color: #eee;
  color: #1a1a1a;
  border-color: #c8d2de
}

.btn-inverse {
  background-color: #383a42;
  border-color: #34373e;
  color: #fff
}

.btn-inverse.active,
.btn-inverse:active,
.btn-inverse.focus,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
  background-color: #2f3238;
  border-color: #2b2d33;
  color: #fff
}

.btn-primary {
  background-color: #3f8bd1;
  border-color: #3988cf;
  color: #fff
}

.btn-primary.active,
.btn-primary:active,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #3183cc;
  border-color: #2f7dc4;
  color: #fff
}

.btn-success {
  background-color: #88bf4c;
  border-color: #85bd47;
  color: #fff
}

.btn-success.active,
.btn-success:active,
.btn-success.focus,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
  background-color: #7fb842;
  border-color: #7ab03f;
  color: #fff
}

.btn-info {
  background-color: #34b2e7;
  border-color: #2db0e6;
  color: #fff
}

.btn-info.active,
.btn-info:active,
.btn-info.focus,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
  background-color: #24ace5;
  border-color: #1ba9e4;
  color: #fff
}

.btn-warning {
  background-color: #fea82c;
  border-color: #fea525;
  color: #fff
}

.btn-warning.active,
.btn-warning:active,
.btn-warning.focus,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
  background-color: #fea01b;
  border-color: #fe9c10;
  color: #fff
}

.btn-danger {
  background-color: #e85138;
  border-color: #e74b31;
  color: #fff
}

.btn-danger.active,
.btn-danger:active,
.btn-danger.focus,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
  background-color: #e64328;
  border-color: #e53b1f;
  color: #fff
}

.btn-labeled,
.btn-labeled.fa {
  overflow: hidden;
  font-weight: 300
}

.btn-labeled .fa:before,
.btn-labeled.fa:before {
  font-family: FontAwesome
}

.btn-labeled:not(.btn-block):not(.form-icon) {
  padding-bottom: 0;
  padding-top: 0
}

.btn-labeled:before {
  background-color: rgba(0, 0, 0, .05);
  display: inline-block
}

.btn-block.btn-labeled:not(.form-icon):before {
  float: left
}

.btn-lg.btn-labeled {
  font-size: 18px;
  line-height: 1.33
}

.btn-lg.btn-labeled:before {
  margin-left: -16px;
  margin-right: 10px;
  padding: 10px 16px
}

.btn-lg.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -10px;
  margin-bottom: -10px
}

.btn-sm.btn-labeled {
  font-size: 12px;
  line-height: 1.5
}

.btn-sm.btn-labeled:before {
  margin-left: -10px;
  margin-right: 5px;
  padding: 5px 10px
}

.btn-sm.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -5px;
  margin-bottom: -5px
}

.btn-xs.btn-labeled {
  font-size: 10px;
  line-height: 1.66
}

.btn-xs.btn-labeled:before {
  margin-left: -5px;
  margin-right: 1px;
  padding: 1px 5px
}

.btn-xs.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -1px;
  margin-bottom: -1px
}


/* CONTAINER */

.container {
  position: relative;
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit
}


.popover-content {
  padding: 9px 14px;
}