<div>
    user : {{user.label}}
    <div ng-switch="streamType">
        <div ng-switch-when="video">
            <video-stream type="{{type}}" stream-id="{{streamId}}"></video-stream>
        </div>
        <div ng-switch-when="audio">
            <i class="glyphicon glyphicon-volume-up"></i>
            <audio-stream type="{{type}}" stream-id="{{streamId}}"></audio-stream>
        </div>
        <button ng-click="close()" type="button" class="btn btn-danger">hangup</button>

    </div>
</div>




