<div>
  <div data-ng-repeat="call in waitingCallsForAnswer">
    <div data-ng-show="call.metadata.type === 'single'">
      {{getClient(call.peer).label}} is calling
      <button type="button" class="btn btn-success" data-ng-click="answerStreamCall(call)">accept</button>
      <button type="button" class="btn btn-danger" data-ng-click="closeStreamCall(call)">reject</button>
    </div>
    <div data-ng-show="call.metadata.type === 'conference'">
      enter group {{getGroup(call.metadata.roomId).label}}
      <button type="button" class="btn btn-success" data-ng-click="answerStreamCall(call)">accept</button>
      <button type="button" class="btn btn-danger" data-ng-click="closeStreamCall(call)">reject</button>
    </div>
  </div>
</div>
